.about{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1_about_me{
  display: flex;
  gap: 5em;

}

  

  

/* Desktop Layout: 3 Columns */
@media(min-width: 800px) {
    .about {
      height: 95vh;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr .25fr;
      margin-bottom: 100px;
      justify-content: center;
      align-items: center;
    }
    
    .div1_about_me {
      grid-area: 1 / 1 / 2 / 2;
      justify-content: center;
      align-items: center;
      & p{
        height: auto;
        width: 25%;
        text-align: left;
      }
      & .logo_high{
        width: auto;
        height: 10em;
        border-radius: 100%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
        transition: transform .1s ease-in-out;
        &:hover{
          transform: scale(1.01);
          cursor: pointer;
          transition: none;
        }

      }
      & .about_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .div2_skills {
      grid-area: 2 / 1 / 3 / 2; 
    }

  }

/* Mobile Layout */
@media(max-width: 800px) {
    .about {
      grid-template-columns: repeat(1fr);
      grid-template-rows: auto; 
      height: auto;
      align-items: center;
      justify-content: center;
      margin: auto;

    }

    .div1_about_me,.div2_skills{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div1_about_me {
      grid-area: auto;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      & .logo_high{
          width: 10em;
          height: 10em;
          border-radius: 100%;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
          transition: transform .1s ease-in-out;
    }
    .div2_skills {
      grid-area: auto;
    }

  }
}  
.div1_about_me,.div2_skills{
    padding: 20px;
    margin: 10px;
}

.div2_skills{
  margin: auto;
  text-align: center;
  text-decoration: underline;
  
}
.div2_skills img{
  height: 64px;
  width: 64px;
  margin-inline: 10px;
}