.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--background-color);
    margin-top: 50px;
    
}
.contact_container{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--text-color);
    min-height: 80%;
    min-width: 60%;
    border-radius: 5px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.social_media{
    border-right: 2px dashed black;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex: 0 0 20%;
}

.social_media a{
    cursor: pointer;

    
}
.social_media a:hover{
    transform: scale(1.05);
    transition: transform .1s ease-in-out;
}
.contact_form{
    width: 100%;
    height: 100%;
    flex: 0 0 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact_form input{
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 2em;
    border: none;
    height: 3em;
    width: 80%;
}
#message{
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 1em;
    border: none;
    min-width: 80%;
    min-height: 10em;
    max-width: 80%;
    max-height: 40%;
    
}
.social_media a{
    background-color: transparent;
}
.social_media a:hover{
    background-color: transparent;
}
@media(max-width: 900px){

    .contact_container{
        flex-direction: column;
        min-height: auto;
        min-width: 90%;
    }
    .social_media{
        flex-direction: row;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 2px;
        
    }
    .social_media a img{
        height: 2em;
        width: 2em;
        
    }
    #message{
        min-width: 80%;
        min-height:10em;
        max-width: 80%;
        max-height: 20em;
        padding: 10px;
    }
}