
:root{
    --background-color :#ffffff;
    --primary-color :#2c3e50 ;
    --secondary-color : #ecf0f1;
    --accent-color: #e74c3c ;
    --dark-accent-color:#c0392b;
    --text-color: #2c3e50;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body,html{
    background-color: var(--background-color);
    
    
}
header{
    font-family: 'Roboto' ,sans-serif ;
}
/*nav bar css start from here*/
nav ul{
    display: inline-flex;
    justify-content: center;
    
    border-radius: 0 0 10px 10px ;
    padding: 1em;
    gap: 2em;
    background: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    
}
.active_page{
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--background-color);
    width: 4em;
    height: 2px;
    transition: background-color .25s ease-in-out;
}
nav{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    z-index: 10;
    
}
nav ul li{
    position: relative;
    list-style: none;
    padding: 1em 2em;
    cursor: pointer;
    color: var(--secondary-color);
}

nav ul li:hover{
    transform: scale(1.1);
}
/*nav bar style for desktop*/
@media(min-width: 800px){
    nav{
        opacity: 0;
        top: 0;
        transition: opacity .15s ease-in-out;

    }
    nav ul{
        width: 50%;
        transition: width .1s ease-in-out , border-radius .1s ease-in-out;
    }
    nav:hover{
        opacity: 1;
    }
    
    nav:hover ul{
        width: 100%;
        border-radius: 0;
        transition: width .25s ease-in-out , border-radius .5s ease-in-out;
    }
    .isTop{
        opacity: 1;
        width: 100%;
        border-radius: 0;
        transition: width .25s ease-in-out , border-radius .5s ease-in-out, opacity .15s ease-in-out;
    }
    

}
/*nav bar for mobiles*/
@media(max-width:800px){
    
    nav{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);        
        
        opacity: .95;
        margin: 10px;
    }
    nav ul{
        border-radius: 2em;
        box-shadow: 1px 1px 1px black;
    }
    
    nav ul li{
        list-style: none;
        padding:0;
        color: var(--secondary-color);
    }
    .active_page{
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,0);
        background-color: var(--background-color);

        transition: background-color .25s ease-in-out;
    }

}



.button {
    background-color: var(--accent-color); 
    color: var(--background-color); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.button:hover{
    background-color: var(--dark-accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.go_up_btn{
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 2em;
    border-radius: 3em;
    padding: 0;
    height: 2em;
    width: 2em;
    background-color: var(--primary-color);
}
.go_up_btn:hover{
    background-color: var(--primary-color);
    transform: scale(1.05);
}
a{
    color: var(--text-color);
    background-color: #c03a2b3d;
    border-radius: 2px;
    
}
a:hover{
    background-color: rgba(231, 77, 60, 0.712);
    transition: background-color .1s ease-in-out;
}