
/* Default (Light Mode) */
:root {
    --background-color: rgba(23, 25, 35, 0.9);
    --primary-color: rgba(45, 55, 72, .9);
    --secondary-color: #f7f9f9;
    --accent-color: #4A5568;
    --dark-accent-color: #2D3748;
    --text-color: #EDF2F7;
}

/* light Mode */
[data-theme="light"] {
    --background-color: #F7F9F9;
    --primary-color: #EDF2F7;
    --secondary-color: rgba(45, 55, 72, 0.9);
    --accent-color: #2D3748;
    --dark-accent-color: #1A202C;
    --text-color: #2D3748;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    color: var(--text-color);
}


body,html{
    background-color: var(--background-color);
    
}
header{
    font-family: 'Roboto' ,sans-serif ;
}
/*nav bar css start from here*/

.active_page{
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--background-color);
    width: 4em;
    height: 2px;
    transition: background-color .25s ease-in-out;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    z-index: 10;
    
    & ul{
        display: inline-flex;
        justify-content: center;
        gap: 2em;
        font-weight: bold;
        color: var(--text-color);
        background-color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    }
    
    & ul li{
        position: relative;
        list-style: none;
        padding: 1em 2em;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    
}



/*nav bar style for desktop*/
@media(min-width: 800px){
    nav{
        opacity: 0;
        top: 0;
        transition: opacity .15s ease-in-out;
        border: none;
        & ul{
            width: 25%;
            transition: width .1s ease-in-out;
            padding: .25em 0;
            border: none;
        }
        &:hover{
            opacity: 1;
        }
        &:hover ul{
            width: 100%;
            border-radius: 0;
            transition: width .1s ease-in-out ;
        }

    }

    .isTop{
        opacity: 1;
        width: 100%;
        transition: width .25s ease-in-out , opacity .15s ease-in-out;
    }
    

}
/*nav bar for mobiles*/
@media(max-width:800px){
    
    nav{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);        
        margin: 1em;
        & ul{
            padding: 1em ;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 2em;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.1);
            transition: box-shadow .1s ease-in-out;
            & li{
                list-style: none;
                padding: 0;
                color: var(--secondary-color);
            }
    
        }
    }
    
    
    
    .active_page{
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 80%;
        transform: translate(-50%,0);
        background-color: var(--background-color);

        transition: background-color .25s ease-in-out;
    }
    .go_up_btn{
        display: none;
    }

}



.button {
    background-color: var(--accent-color); 
    color: var(--background-color); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.button:hover{
    background-color: var(--dark-accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.go_up_btn{
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 2em;
    border-radius: 3em;
    padding: 0;
    height: 2em;
    width: 2em;
    background-color: var(--primary-color);
    z-index: 10;
}
.go_up_btn:hover{
    background-color: var(--primary-color);
    transform: scale(1.05);
}
a{
    color: var(--text-color);
    background-color: var(--accent-color);
    font-weight: bold;
    border-radius: 2px;
    
    
}
a:hover{
    background-color: var(--dark-accent-color);
    color: var(--secondary-color);
    transition: background-color .1s ease-in-out,color .1s ease-in-out;
}