.main_activity{
    display: flex;
    justify-content: center;
    
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    justify-content: center;
    column-gap: 2em;
    row-gap: 1em;
}
.project{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
    
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}
.project:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform .25s ease-in-out;
}

.project img {
    flex: 0 0 80%;
    
    border-radius: 10px 10px 0 0;

}
.project p{
    flex: 0 0 20%;
    text-align: center;

}