.main_activity{
    display: flex;
    justify-content: center;
    
}
.projects{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    column-gap: 2em;
    row-gap: 1em;

}
.project{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1em;
    overflow: hidden;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid var(--background-color);
    transition: transform .1s ease-in-out;
    
}
@media(min-width:800px){
    .project:hover{
        transform: scale(1.03,1.03);
    }    
}
.project:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.project img {
    flex: 4;
    
    border-radius: 10px 10px 0 0;
    z-index: 0;

}
.project p{
    flex: 1;
    text-align: center;

}

.detaille{
    color: var(--text-color);
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    border: none;
    height: 100%;
    width: 0%;
    
}

.project:hover  .detaille {
    
    visibility: visible;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    transition: width .1s ease-in-out;
}
.detaille p{
    text-align: left;
}

.carte_title{
    text-decoration: underline;
}

/* prohect grid for mobile like screen*/

@media (max-width:767px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: .5em;
    }
    .project{
        width: 400px;
        height: 500px;
    }
}